files:
    "/etc/cron.d/refill_kudos":
        mode: "000644"
        owner: root
        group: root
        content: |
           * * * * * root /usr/bin/php /var/www/html/artisan refill:kudos 1>> /dev/null 2>&1


files:
    "/etc/cron.d/update_kudos":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 */1 * * * root /usr/bin/php /var/www/html/artisan update:kudos 1>> /dev/null 2>&1
